.premium-card {
    background-color: #ffae00; /* Example premium color */
    border: 2px solid #FFD700; /* Example border color */
    color: #f1eeee; /* Example text color */
    /* Add any additional styling you want */
  }
  